*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 75%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 700px;
  max-width: 90%;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px;
}

.btn {
  --hue: var(--hue-neutral);
  border: solid;
  padding: 10px;
  background-color: hsl(var(--hue), 75%, 50%);
  border-radius: 5px;
  color: aliceblue;
}

.btn:hover {
  border-color: rgb(165, 42, 42);
}

.button-correct {
  --hue: var(--hue-correct);
}

.button-wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  padding: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
